<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>838244637510-08qai6c087g5nnr54o61cge17j4l6bva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838244637510-08qai6c087g5nnr54o61cge17j4l6bva</string>
	<key>API_KEY</key>
	<string>AIzaSyAXBtwuHrd8AFisL-nDD6bcQML_vezuzF4</string>
	<key>GCM_SENDER_ID</key>
	<string>838244637510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.innovatie.netwerk.app</string>
	<key>PROJECT_ID</key>
	<string>ina-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ina-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838244637510:ios:8d09bad9d25078fa</string>
	<key>DATABASE_URL</key>
	<string>https://ina-app.firebaseio.com</string>
</dict>
</plist>